


<!DOCTYPE html>
<html>
<head>
<title>Sample Map</title>
<style>
#map{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
</style>




 
    </head>
    <body >
        <p id = 'map'></p>
        
    </body>
</html>
