<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>


<!DOCTYPE html>
<html>
<head>
<title>Sample Map</title>
<style>
#mapdiv {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
}
</style>

<%= javascript_include_tag 'application' %>
 
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"' %>

 
    </head>
    <body onload="geoloc()">
        <p id = 'mapdiv'></p>
        <button onclick="stopWatch()">
            Stop
        </button>
    </body>
</html>
